body{
    background: #ccffff;
    font-family: sans-serif;
}
.card{
    background: #99ccff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    padding:20px 10px 0px 10px ;
    color: white;
    text-align: center;
    width: 300px;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0 0 30px #0007;
    box-sizing: border-box;
}
.img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    filter: drop-shadow(0 0 5px #0005);
}
.title{
    margin: 0;
    font-size: 24px;
    margin: 0;
}
.subtitle{
    margin: 0;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 3px;
 
}
.description{
    font-size: 8px;
    text-align: justify;
    margin: 0;
    margin-top: 10px;
    padding: 15px;
}
.green_card{
    background: #BD0000;
}
.red_card{
    background: #14A100;
}