/*
Los criterios que utilizan el border y radius son:
border: width style color
radius: diagonal pricipal diagonal secundaria
en px usa pequeños cuadrados y en porcentaje usa rectangulos hasta el medio.
*/
body{
    background: black;
}
.border{
    background: lightblue;
    width:60%;
    text-align: center;
    margin:auto;
    padding: 10px;
    border-bottom: 10px solid blue;
    border-radius: 10px 100%;
}
.form{
    margin-top: 10px;  
}
.inp_text{
    width: 80%;
    margin-right: 100%;
    margin-bottom: 3px;
    padding: 5px;
    background: transparent;
    color: yellowgreen;
    border: none;
    border-bottom: 1px solid yellowgreen;
    border-radius: 5px;
}
.inp_pass{
    width: 80%;
    padding: 5px;
    margin-right: 100px;
    margin-bottom: 8px;
    color: yellowgreen;
    background: transparent;
    border: none;
    border-bottom: 1px solid yellowgreen;
    border-radius: 5px;
}
.inp_sub{
    background: transparent;
    color: greenyellow;
    border: 1px solid yellowgreen;
    border-radius: 5px;
    margin-left:35%;
}