*{
    margin: 0;
    font-family: sans-serif;
    background-color: #ccc;
    box-sizing: border-box;
}

.box{
    margin: 20px;
    background: #fff;
    padding: 6px;
    border: 4px solid #48e;
    border-radius: 39px;
}

.barra{
    padding: 40px;
    background-color: #48e;
    border-radius: 30px;
    width: 10%;
    animation-name: llenar-barra;
    animation-duration: 1s;
}
/*steps(): para hacer efector de cargar en barra*/

@keyframes llenar-barra {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}




