body{
    margin: 0;
    background: #00fc;
}
.bg-1{
    width: 400px;
    height: 600px;
    background: linear-gradient(to top,#000c,transparent);
    border-radius: 10px;
    margin: auto;
    margin-top: 40px;
    border-top: 7px solid #07f;
}
.h2-1{
    font-family: sans-serif;
    color:#fffc;
    text-align: center;
    padding-top: 20px;
    text-decoration: overline #fffa;
}