body{
    background: #eee;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
table{
    margin:auto;
    margin-top: 20px;
    text-align: center;
    border-spacing: 25px;
    border:2px solid #111;
}

th,td{
    max-width: 500px;
    padding: 0 20px;
    border: none;
    border-bottom:1px solid #111;
}
.tbott{
    border: none;
    font-size: 16px;
    font-weight: bold;
}
h1{
    text-align: center;
    margin-top: 60px;
    font-size: 40px;
}
header{
}