body{
    background:#222;
    margin: 0;
    font-family: sans-serif;
    color: #ddd;
}
form{
    background: transparent;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 55px #fff2; 
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    font-size: 16px;
}

input{
    width: 100%;
    box-sizing: border-box;
    padding: 6px 8px;
    border:none;
    background:transparent; 
    border: 1PX solid #666;
    border-radius: 4px;
    box-shadow:0 0 15px #0001;
    color:#ddd;
    margin: 6px 0;
}
fieldset{
    margin: 10px 0;
    border: 1px solid #ddd6; 
    border-radius: 5px;
}
legend{
    padding: 0 6px;
}